@model DariNet.Models.Annonce

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>

            <img src="@Url.Content("~/Content/Upload/"+Model.photo)" width="100px" height="100px" />
        </dt>

        <dd>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbreChambre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbreChambre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfVisits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfVisits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
