@model IEnumerable<DariNet.Models.Livraison>

@{
    ViewBag.Title = "Index";
}

<div class="agileinfo-services">

    <h3 class="w3l_head w3l_head1">Livraisons</h3>

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.methodePayement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.livraisonStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.methodePayement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.livraisonStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
