@model IEnumerable<DariNet.Models.AnnonceMeuble>

@{
    ViewBag.Title = "Index";
}
<head>
    <title>Freehold a Real Estates Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Freehold Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->

    <link href="~/Content/DataTables/css/range.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--FlexSlider-->
    <link rel="stylesheet" href="~/Content/flexslider.css" type="text/css" media="screen" />
    <script defer src="~/Scripts/jquery.flexslider.js"></script>
    <script defer src="~/Scripts/DataTables/range.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!--End-slider-script-->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <link href="//fonts.googleapis.com/css?family=Varela+Round&subset=hebrew" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>


</head>
<body>
    <div class="agileinfo-services">

        <h3 class="w3l_head w3l_head1">Annonces Meuble</h3>

    </div>
    <div class="agileinfo-services">

       

        <div>
            @Html.ActionLink("prix Asc", "PrixAsc") |
            @Html.ActionLink("prix Desc", "PrixDesc")
        </div>
    </div>
        <p class="eum">
            @Html.ActionLink("Ajouter Annonce", "Create")
        </p>
        <table class="table" id="annonceMeuble">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.region)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ville)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adresse)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.prix)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.images)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.region)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ville)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prix)
                    </td>
                    <td>
                        <img src="~/UploadedFiles/@item.images[0]" width="40" height="40" onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+1100+', height='+600);" />
                      

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @section scripts{
            <script>
                $(document).ready(function () { $("#annonceMeuble").DataTable() })
            </script>
        }
</body>